
* {
    font-family: 'Raleway', cursive;
    margin: auto;
}

body {
    background-image: linear-gradient(to right, rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url(../img/photo-1574904735613-d27b0559232c.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125vh;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    text-align: center;
    margin: 0 30px 50px 30px;
    font-size: 2rem;
    
}

h2 {
    font-family: 'Rock Salt', cursive;
    margin: 30px;
    font-size: 1.5rem;
}

div, form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#addExpense, #addIncome, #submit {
    text-align: center;
    padding: 3px 8px;
    border-radius: 30px;
    background-color: #F96444;
    margin-top: 15px;
}

table {
    text-align: center;
    margin-bottom: 30px;
}

input {
    border-radius: 30px;
    padding: 3px 8px;
}

button {
    text-align: center;
    border-radius: 30px;
    padding: 0 8px;
}

#result p {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}